.s {
  width: 80%;
  margin: 1rem auto;
}
.sTitle {
  text-align: center;
}
.sContent {
  text-align: justify;
}
mat-grid-tile {
  background: lightblue;
}
p {
  font-weight: bold;
  justify-content: flex-end;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}


