<mat-card class="about">
<mat-card-title class="aboutTitle">About</mat-card-title>
<mat-card-subtitle>MentCare System</mat-card-subtitle>
<mat-card-content class="aboutContent">
    BeautyFest is is the open application for the people who are in need of the beauty products.
    Our application provides all the services at free of cost.<br><br>
    Our services include: <br>
    <ul>
      In shops portal we provide products from many number of brands. Here,
      You can choose any shop to buy your required products.<br>
      After choosing a shop you will be directed to buy products,
      once you buy products you can click on checkout and provide your payment confirmation.
    </ul>
    <br>
    Beauty products... that is meant to look style, confident, bold for you.<br><br>
    <h3 class="text-center text-success">Makeup Is Art Beauty Is Spirit</h3>
      <img src="../../assets/m10.jpg" width="250" style="border-radius: 1rem; margin-left: auto;margin-right: auto;display: block;">
</mat-card-content>
</mat-card>
