<mat-card class="dashboard">
  <mat-card-title class="dashboardTitle">Beauty Brands</mat-card-title>
  <mat-card-subtitle>Available Brands</mat-card-subtitle>
  <mat-card-content class="dashboardContent">
    <mat-grid-list cols="3" rowHeight="3:3">
      <a routerLink='/shop1'>
        <mat-grid-tile>
          <mat-grid-tile-header>
            <span>Shop 1</span>
          </mat-grid-tile-header>
          <img src="../../assets/ms1.jpg" width="100%">
          <mat-grid-tile-footer>
            mac
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </a>
      <a routerLink='/shop2'>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span>Shop 2</span>
        </mat-grid-tile-header>
        <img src="../../assets/ms2.jpg" width="100%">
        <mat-grid-tile-footer>
          mayabelline
        </mat-grid-tile-footer>
      </mat-grid-tile>
      </a>
    <a routerLink='/shop3'>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span>Shop 3</span>
        </mat-grid-tile-header>
        <img src="../../assets/ms3.jpg" width="100%">
        <mat-grid-tile-footer>
          lakme
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </a>
    <a routerLink='/shop4'>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span>Shop 4</span>
        </mat-grid-tile-header>
        <img src="../../assets/ms4.jpg" width="100%">
        <mat-grid-tile-footer>
          Elle18
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </a>
    <a routerLink='/shop5'>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span>Shop 5</span>
        </mat-grid-tile-header>
        <img src="../../assets/ms5.jpg" width="100%">
        <mat-grid-tile-footer>
          loreal
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </a>
    <a routerLink='/shop6'>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span>Shop 6</span>
        </mat-grid-tile-header>
        <img src="../../assets/ms6.jpg" width="100%">
        <mat-grid-tile-footer>
          covergirl
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </a>


 
