<mat-card class="emergency">
  <mat-card-title class="emergencyTitle">EMERGENCY</mat-card-title>
  <mat-card-subtitle>Beauty Fest</mat-card-subtitle>
  <mat-card-content class="emergencyContent">
    <mat-grid-list cols="3" rowHeight="3:3">
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span> Query Contact</span>
        </mat-grid-tile-header>
        <img src="../../assets/di.png" width="100%">
        <mat-grid-tile-footer>
          <form>
            <a href="tel:7338248284" style="color: lime;">
              <mat-icon aria-hidden="false" aria-label="Example phone icon">phone</mat-icon>
            </a>
            <a href="mailto:savita@gmail.com.com" style="color: red;">
              <mat-icon aria-hidden="false" aria-label="Example email icon">email</mat-icon>
            </a>
          </form>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span> Query Contact</span>
        </mat-grid-tile-header>
        <img src="../../assets/di.png" width="100%">
        <mat-grid-tile-footer>
          <form>
            <a href="tel:7338248284" style="color: lime;">
              <mat-icon aria-hidden="false" aria-label="Example phone icon">phone</mat-icon>
            </a>
            <a href="mailto:savita@gmail.com" style="color: red;">
              <mat-icon aria-hidden="false" aria-label="Example email icon">email</mat-icon>
            </a>
          </form>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-grid-tile-header>
          <span>Query Contact</span>
        </mat-grid-tile-header>
        <img src="../../assets/di.png" width="100%">
        <mat-grid-tile-footer>
          <form>
            <a href="tel:7338248284" style="color: lime;">
              <mat-icon aria-hidden="false" aria-label="Example phone icon">phone</mat-icon>
            </a>
            <a href="mailto:savita@gmail.com" style="color: red;">
              <mat-icon aria-hidden="false" aria-label="Example email icon">email</mat-icon>
            </a>
          </form>
        </mat-grid-tile-footer>
      </mat-grid-tile>
      